<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
<base href="{{ base }}" />
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
{% for style in styles %}
<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
</head>
<body>
<div class="bg-home-header">
  <div class="container">
  <div class="row">
<div class="top">
<div class="menus">{{ menu }}</div>
<div class="phone "><a href="tel:{{ telephone }}">{{ telephone }}</a></div>



</div>
<div id="logo">
         
            
             <svg width="498" height="351" viewBox="0 0 498 351" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M275.773 162.907C275.773 179.057 261.26 187.951 246.107 187.951C228.131 187.951 206.053 174.599 201.595 142.131H200.931L202.757 188.947H203.729C204.227 186.315 206.053 181.69 210.986 181.69C219.903 181.69 228.795 188.781 246.107 188.781C266.217 188.781 290.619 178.393 290.619 153.491C290.619 107.506 218.243 128.447 218.243 89.8607C218.243 74.3503 231.096 66.2868 242.811 66.2868C259.956 66.2868 278.572 77.6706 284.524 108.81H285.188L282.2 65.2907H281.56C281.062 68.5873 278.572 73.212 274.801 73.212C265.719 73.212 261.924 65.4568 242.811 65.4568C222.867 65.4568 205.057 75.8445 205.057 99.0864C205.057 145.262 275.773 124.32 275.773 162.907Z" fill="#FEFEFE"/>
<path d="M337.668 53.8121C337.668 57.1798 336.767 60.8321 334.846 64.8401C328.775 76.1291 318.388 85.3547 303.685 92.5407C291.709 98.3986 278.05 102.288 262.707 104.162L262.09 110.138L267.118 109.854C273.663 109.593 278.572 110.897 281.844 113.743C285.069 116.565 286.706 119.032 286.706 121.142C286.706 125.127 281.892 127.119 272.216 127.119C268.469 127.119 264.912 125.815 261.545 123.206C258.177 120.573 255.877 117.348 254.62 113.601C234.914 116.968 217.175 125.957 201.453 140.661C184.473 156.385 175.96 173.792 175.96 192.931C175.96 214.964 187.201 225.992 209.611 225.992C224.717 225.992 238.755 220.727 251.656 210.244C264.533 199.714 270.983 187.026 270.983 172.109C270.983 155.151 263.323 146.637 248.028 146.637C222.416 146.637 205.01 162.883 195.761 195.398C195.761 185.769 199.176 175.927 206.006 165.824C212.836 155.768 220.638 149.27 229.483 146.353C236.171 144.218 242.645 143.175 248.953 143.175C256.755 143.175 263.181 145.807 268.327 151.049C273.426 156.29 276.034 162.788 276.034 170.543C276.034 177.895 275.157 183.658 273.521 187.856C268.92 199.809 260.359 209.817 247.838 217.905C235.388 225.992 222.748 230.024 209.966 230.024C197.35 230.024 186.679 226.134 177.833 218.379C168.419 210.458 163.7 200.307 163.7 187.951C163.7 167.887 174.087 150.29 194.86 135.23C212.456 122.02 232.163 113.98 254.004 111.039C253.909 109.806 253.909 107.814 254.004 105.087C251.49 105.087 248.953 105.087 246.463 105.087C212.693 105.087 190.141 96.9045 178.806 80.564C175.249 75.5599 173.446 70.6981 173.446 66.0734C173.446 59.5989 176.482 52.816 182.6 45.7012C192.655 33.7245 211.531 27.748 239.182 27.748C242.787 27.748 245.585 27.8429 247.696 28.08C216.63 28.08 195.667 34.768 184.758 48.1914C179.944 54.2627 177.549 60.0258 177.549 65.5042C177.549 77.6232 186.679 87.086 204.915 93.7739C218.954 99.0152 233.23 101.529 247.696 101.339H254.288C255.355 84.7381 262.375 70.034 275.394 57.1324C288.389 44.207 303.187 37.7562 319.74 37.7562C331.715 37.7562 337.668 43.0924 337.668 53.8121ZM333.589 54.4999C333.589 46.0806 329.297 41.8354 320.688 41.8354C308.713 41.8354 296.713 48.9028 284.548 63.0614C273.805 75.5124 266.881 88.2481 263.774 101.339C277.173 100.082 291.472 95.2206 306.555 86.7539C324.601 76.6508 333.589 65.8837 333.589 54.4999ZM283.243 120.858C283.243 118.107 280.825 115.996 275.987 114.549C272.169 113.269 268.707 112.628 265.553 112.628H262.09C262.944 121.237 266.311 125.577 272.169 125.577C279.591 125.577 283.243 123.988 283.243 120.858Z" fill="#FEFEFE" fill-opacity="0.2"/>
<path d="M99.8135 272.072C99.8135 275.274 96.944 277.053 93.9323 277.053C90.3752 277.053 85.988 274.397 85.1106 267.946H84.9683L85.3478 277.243H85.5375C85.6323 276.721 85.988 275.796 86.984 275.796C88.7389 275.796 90.5175 277.195 93.9323 277.195C97.94 277.195 102.778 275.156 102.778 270.199C102.778 261.092 88.4069 265.242 88.4069 257.582C88.4069 254.522 90.968 252.91 93.292 252.91C96.6832 252.91 100.383 255.163 101.568 261.353H101.687L101.094 252.72H100.975C100.881 253.36 100.383 254.285 99.6238 254.285C97.8215 254.285 97.0863 252.744 93.292 252.744C89.3318 252.744 85.7983 254.807 85.7983 259.408C85.7983 268.562 99.8135 264.412 99.8135 272.072ZM121.536 274.752C121.631 275.013 121.725 275.298 121.725 275.559C121.725 276.104 121.441 276.65 118.927 276.65V276.768H128.081V276.65C126.563 276.65 125.828 276.199 125.235 274.776L116.176 252.673H116.081L108.588 271.385C107.734 273.543 106.572 276.65 104.082 276.65V276.768H111.007V276.65C108.042 276.65 107.876 275.298 107.876 274.397C107.876 274.136 107.924 273.519 108.825 271.29L110.034 268.278H118.951L121.536 274.752ZM114.54 256.965L118.88 268.088H110.082L114.54 256.965ZM139.298 276.65C136.357 276.65 136.12 275.796 136.12 274.515V265.147H138.966C144.088 265.147 142.404 277.1 149.685 277.1C151.084 277.1 151.89 276.389 152.435 275.464C152.364 275.416 152.293 275.416 152.246 275.345C151.819 276.104 151.345 276.389 150.87 276.389C147.598 276.389 148.262 266.523 140.46 265.147C145.535 264.981 148.902 262.752 148.902 259.123C148.902 255.186 145.535 253.171 140.934 253.171H129.29V253.289C132.231 253.289 132.468 254.19 132.468 255.447V274.515C132.468 275.796 132.231 276.65 129.29 276.65V276.768H139.298V276.65ZM140.412 253.36C143.139 253.36 145.203 255.922 145.203 259.218C145.203 262.515 143.139 264.934 139.345 264.934H136.12V255.495C136.12 254.19 136.523 253.36 137.661 253.36H140.412ZM169.865 274.752C169.96 275.013 170.055 275.298 170.055 275.559C170.055 276.104 169.771 276.65 167.257 276.65V276.768H176.411V276.65C174.893 276.65 174.158 276.199 173.565 274.776L164.506 252.673H164.411L156.917 271.385C156.064 273.543 154.878 276.65 152.412 276.65V276.768H159.336V276.65C156.348 276.65 156.206 275.298 156.206 274.397C156.206 274.136 156.253 273.519 157.155 271.29L158.364 268.278H167.281L169.865 274.752ZM162.87 256.965L167.209 268.088H158.411L162.87 256.965ZM196.212 271.574L183.999 253.171H177.098V253.289C179.707 253.337 180.561 254.119 180.561 255.732V271.48C180.561 273.567 180.347 276.65 177.098 276.65V276.768H183.999V276.65C181.177 276.65 180.727 273.567 180.727 271.48V255.139H180.845L195.311 276.768H196.402V258.364C196.402 256.349 196.615 253.289 199.888 253.289V253.171H192.987V253.289C196.093 253.289 196.212 256.349 196.212 258.364V271.574ZM212.172 252.744C205.105 252.744 201.571 259.029 201.571 265.527C201.571 272.238 205.698 277.266 212.314 277.266C216.559 277.266 218.124 274.586 219.31 274.586C220.021 274.586 220.472 275.606 220.993 277.337H221.136V268.136C221.136 266.547 221.42 266.143 223.744 266.143V266.025H214.164V266.143C217.152 266.143 217.436 266.547 217.436 268.136V273.282C217.436 274.847 215.373 276.934 212.788 276.934C208.567 276.934 205.437 272.736 205.437 265.1C205.437 257.155 208.259 252.981 212.527 252.981C215.16 252.981 218.835 255.4 220.187 261.827H220.353C220.092 258.839 219.831 255.779 219.594 252.767H219.428C219.262 253.716 218.812 254.238 218.195 254.238C216.938 254.238 214.828 252.744 212.172 252.744ZM234.25 253.171V253.289C237.119 253.289 237.427 253.977 237.427 255.447V274.515C237.427 275.796 237.19 276.65 234.25 276.65V276.768H252.937L253.885 268.254H253.767C251.727 276.413 250.162 276.626 244.992 276.626H242.479C241.625 276.626 241.079 276.057 241.079 274.515V264.626H243.569C245.799 264.626 248.217 265.835 248.241 270.104H248.36V258.934H248.241C248.217 263.203 245.799 264.46 243.569 264.46H241.079V255.447C241.079 253.621 241.696 253.36 242.313 253.36H244.945C250.375 253.36 251.609 255.566 252.889 260.451H253.055L252.201 252.673H252.035C251.68 253.171 250.209 253.171 249.427 253.171H234.25ZM266.217 276.65C263.276 276.65 263.063 275.796 263.063 274.515V265.147H265.885C271.031 265.147 269.323 277.1 276.627 277.1C278.026 277.1 278.809 276.389 279.378 275.464C279.307 275.416 279.236 275.416 279.165 275.345C278.738 276.104 278.287 276.389 277.789 276.389C274.54 276.389 275.181 266.523 267.402 265.147C272.477 264.981 275.845 262.752 275.845 259.123C275.845 255.186 272.477 253.171 267.853 253.171H256.209V253.289C259.15 253.289 259.387 254.19 259.387 255.447V274.515C259.387 275.796 259.15 276.65 256.209 276.65V276.768H266.217V276.65ZM267.331 253.36C270.082 253.36 272.145 255.922 272.145 259.218C272.145 262.515 270.082 264.934 266.288 264.934H263.063V255.495C263.063 254.19 263.442 253.36 264.58 253.36H267.331ZM280.208 253.171V253.289C283.172 253.289 283.386 254.309 283.386 255.59V274.515C283.386 275.796 283.172 276.65 280.208 276.65V276.768H291.259C298.539 276.768 302.428 271.29 302.428 264.981C302.428 258.768 298.681 253.171 291.401 253.171H280.208ZM291.235 253.36C296.168 253.36 298.587 258.673 298.587 264.981C298.587 271.385 296.002 276.579 291.14 276.579H288.271C287.607 276.579 287.061 276.128 287.061 274.752V255.186C287.061 253.858 287.631 253.36 288.271 253.36H291.235ZM323.344 271.574L311.108 253.171H304.207V253.289C306.839 253.337 307.693 254.119 307.693 255.732V271.48C307.693 273.567 307.479 276.65 304.207 276.65V276.768H311.108V276.65C308.309 276.65 307.859 273.567 307.859 271.48V255.139H307.977L322.419 276.768H323.534V258.364C323.534 256.349 323.747 253.289 327.02 253.289V253.171H320.119V253.289C323.226 253.289 323.344 256.349 323.344 258.364V271.574ZM328.538 253.337C331.526 253.337 331.739 254.356 331.739 255.613V274.515C331.739 275.796 331.478 276.65 328.538 276.65V276.768H338.616V276.65C335.652 276.65 335.415 275.796 335.415 274.515V255.59C335.415 254.309 335.652 253.289 338.616 253.289V253.171H328.538V253.337ZM340.703 253.171V253.289C343.596 253.289 343.881 253.977 343.881 255.447V274.515C343.881 275.796 343.644 276.65 340.703 276.65V276.768H359.414L360.362 268.254H360.22C358.204 276.413 356.639 276.626 351.469 276.626H348.956C348.102 276.626 347.533 276.057 347.533 274.515V264.626H350.023C352.252 264.626 354.671 265.835 354.695 270.104H354.837V258.934H354.695C354.671 263.203 352.252 264.46 350.023 264.46H347.533V255.447C347.533 253.621 348.173 253.36 348.79 253.36H351.398C356.829 253.36 358.062 255.566 359.343 260.451H359.509L358.655 252.673H358.489C358.133 253.171 356.663 253.171 355.88 253.171H340.703ZM385.737 253.289V253.171H378.954V253.289C380.638 253.337 381.847 253.787 381.847 255.329C381.847 256.349 381.515 257.202 381.089 258.293L375.326 272.879L368.473 255.234C368.33 254.902 368.283 254.665 368.283 254.404C368.283 253.882 368.544 253.289 370.82 253.289V253.171H361.809V253.289C363.279 253.289 364.275 253.953 364.773 255.186L373.642 277.266H373.761L381.278 258.27C382.108 256.206 383.341 253.289 385.737 253.289Z" fill="#FEFEFE"/>
<path d="M157.202 308.927C157.202 309.449 157.083 310.066 155.755 310.066V310.137H160.522V310.066C159.052 310.066 158.933 309.449 158.933 308.951V305.536C158.933 303.307 158.34 301.575 156.23 301.575C154.641 301.575 153.337 302.666 152.839 304.066V296.761C151.748 297.046 150.752 297.188 149.637 297.188V297.259C151.036 297.259 151.131 297.544 151.131 298.184V308.927C151.131 309.449 150.989 310.066 149.661 310.066V310.137H154.427V310.066C152.981 310.066 152.839 309.449 152.839 308.951V305.37C152.839 303.568 154.238 301.86 155.518 301.86C156.704 301.86 157.202 302.998 157.202 304.801V308.927ZM169.32 310.161C168.514 310.161 168.016 309.331 168.016 308.406C168.016 307.41 168.514 305.631 171.905 305.631C171.905 305.892 171.881 306.39 171.881 306.651C171.786 309.188 170.387 310.161 169.32 310.161ZM171.905 304.801C171.905 304.943 171.905 305.299 171.905 305.536C167.85 305.536 166.332 307.078 166.332 308.429C166.332 309.52 167.091 310.422 168.561 310.422C170.174 310.422 171.288 309.52 171.905 308.24C172 309.971 172.664 310.422 173.541 310.422C174.3 310.422 174.822 309.758 175.083 308.927L174.988 308.904C174.798 309.497 174.537 309.9 174.229 309.9C173.707 309.9 173.541 309.497 173.541 308.382C173.541 307.125 173.66 305.892 173.66 304.374C173.66 302.666 172.474 301.575 170.103 301.575C168.514 301.575 166.474 302.311 166.474 303.781C166.474 304.208 166.759 304.54 167.209 304.54C167.921 304.54 168.087 304.089 168.419 303.212C168.656 302.619 168.68 301.67 170.008 301.67C171.336 301.67 171.905 302.761 171.905 304.801ZM188.22 308.927C188.22 309.449 188.078 310.066 186.75 310.066V310.137H191.517V310.066C190.07 310.066 189.951 309.449 189.951 308.951V304.991C189.951 303.07 189.121 301.575 187.224 301.575C185.517 301.575 184.26 302.737 183.762 304.137V301.599C182.671 301.884 181.77 302.026 180.655 302.026V302.097C182.031 302.097 182.126 302.382 182.126 303.022V308.927C182.126 309.449 182.007 310.066 180.679 310.066V310.137H185.446V310.066C183.975 310.066 183.857 309.449 183.857 308.951V305.37C183.857 303.568 185.232 301.813 186.513 301.813C187.699 301.813 188.22 302.998 188.22 304.801V308.927ZM203.54 303.781C203.089 302.358 202.022 301.575 200.599 301.575C198.417 301.575 197.184 303.591 197.184 305.987C197.184 308.335 198.417 310.374 200.599 310.374C202.188 310.374 203.279 309.307 203.729 307.813V310.327C204.488 310.137 205.508 309.995 206.646 309.995V309.924C205.579 309.924 205.271 309.663 205.271 308.856V296.761C204.18 297.046 203.184 297.188 202.069 297.188V297.259C203.445 297.259 203.54 297.544 203.54 298.184V303.781ZM203.54 305.987C203.54 308.548 202.425 310.161 201.168 310.161C199.674 310.161 198.915 308.548 198.915 305.987C198.915 303.425 199.674 301.789 201.168 301.789C202.425 301.789 203.54 303.402 203.54 305.987ZM233.87 307.694C233.87 304.16 228.084 306.034 228.084 303.354C228.084 302.358 229.033 301.647 230.076 301.647C231.025 301.647 232.779 302.429 233.301 304.635H233.372L232.969 301.575H232.898C232.827 301.765 232.661 301.907 232.4 301.907C231.807 301.907 231.143 301.575 230.076 301.575C228.44 301.575 227.064 302.405 227.064 304.042C227.064 307.789 232.661 305.821 232.661 308.429C232.661 309.592 231.57 310.279 230.313 310.279C229.08 310.279 227.444 309.544 226.827 307.006H226.756L227.112 310.398H227.207C227.278 310.137 227.562 309.971 227.847 309.971C228.629 309.971 229.317 310.374 230.313 310.374C232.519 310.374 233.87 309.307 233.87 307.694ZM245.727 307.196C245.727 307.054 245.656 306.983 245.561 306.983C245.443 306.983 245.348 307.054 245.348 307.196C245.348 308.88 244.897 310.161 243.878 310.161C243.143 310.161 242.621 309.592 242.621 307.884V301.907H245.514V301.813H242.621V298.54H242.55C242.194 300.982 241.317 301.813 239.538 301.813V301.907H240.913V306.793C240.913 308.927 241.103 310.422 243.214 310.422C244.85 310.422 245.68 309.046 245.727 307.196ZM251.585 297.117C253.221 297.117 253.363 297.686 253.363 298.374V308.88C253.363 309.592 253.197 310.066 251.585 310.066V310.137H257.181V310.066C255.521 310.066 255.379 309.592 255.379 308.88V298.374C255.379 297.662 255.521 297.093 257.181 297.093V297.022H251.585V297.117ZM269.11 307.196C269.11 307.054 269.039 306.983 268.944 306.983C268.849 306.983 268.754 307.054 268.754 307.196C268.754 308.88 268.303 310.161 267.26 310.161C266.525 310.161 266.027 309.592 266.027 307.884V301.907H268.896V301.813H266.027V298.54H265.932C265.576 300.982 264.723 301.813 262.944 301.813V301.907H264.296V306.793C264.296 308.927 264.485 310.422 266.596 310.422C268.232 310.422 269.086 309.046 269.11 307.196ZM282.39 307.742C282.39 307.647 282.319 307.528 282.153 307.528C282.058 307.528 281.963 307.623 281.915 307.742C281.536 308.975 280.896 310.232 279.378 310.232C277.742 310.232 276.746 308.524 276.746 306.01C276.746 303.449 277.955 301.694 279.497 301.694C280.516 301.694 280.587 302.334 280.587 302.643C280.587 303.022 280.35 303.496 280.35 303.828C280.35 304.303 280.611 304.753 281.299 304.753C281.915 304.753 282.224 304.16 282.224 303.757C282.224 302.334 280.872 301.575 279.283 301.575C276.461 301.575 274.991 303.828 274.991 306.081C274.991 308.429 276.437 310.374 279.093 310.374C281.465 310.374 282.39 308.287 282.39 307.742ZM295.741 308.927C295.741 309.449 295.622 310.066 294.294 310.066V310.137H299.037V310.066C297.591 310.066 297.472 309.449 297.472 308.951V305.536C297.472 303.307 296.855 301.575 294.769 301.575C293.18 301.575 291.875 302.666 291.377 304.066V296.761C290.287 297.046 289.291 297.188 288.176 297.188V297.259C289.551 297.259 289.646 297.544 289.646 298.184V308.927C289.646 309.449 289.528 310.066 288.2 310.066V310.137H292.966V310.066C291.496 310.066 291.377 309.449 291.377 308.951V305.37C291.377 303.568 292.753 301.86 294.057 301.86C295.219 301.86 295.741 302.998 295.741 304.801V308.927ZM308.76 301.67C309.898 301.67 310.562 303.046 310.562 304.445C310.562 305.014 310.017 305.157 309.4 305.157H306.483C306.578 303.283 307.432 301.67 308.76 301.67ZM309.068 310.208C307.551 310.208 306.46 308.667 306.46 305.844C306.46 305.702 306.46 305.489 306.483 305.299H311.297C312.127 305.299 312.246 305.109 312.246 304.659C312.246 303.141 310.871 301.575 308.76 301.575C305.938 301.575 304.729 303.9 304.729 305.987C304.729 308.169 305.914 310.374 308.736 310.374C311.108 310.374 312.08 308.216 312.08 307.765C312.08 307.647 312.033 307.552 311.867 307.552C311.795 307.552 311.701 307.599 311.653 307.765C311.345 308.927 310.562 310.208 309.068 310.208ZM324.767 303.781C324.317 302.358 323.249 301.575 321.827 301.575C319.645 301.575 318.412 303.591 318.412 305.987C318.412 308.335 319.645 310.374 321.827 310.374C323.415 310.374 324.506 309.307 324.957 307.813V310.327C325.716 310.137 326.735 309.995 327.874 309.995V309.924C326.807 309.924 326.498 309.663 326.498 308.856V296.761C325.407 297.046 324.411 297.188 323.297 297.188V297.259C324.672 297.259 324.767 297.544 324.767 298.184V303.781ZM324.767 305.987C324.767 308.548 323.653 310.161 322.396 310.161C320.902 310.161 320.143 308.548 320.143 305.987C320.143 303.425 320.902 301.789 322.396 301.789C323.653 301.789 324.767 303.402 324.767 305.987Z" fill="#FEFEFE"/>
</svg> 
          
         
		</div>
		
		<div class="title-home">Изделия из кожи</div>
		<div class="text-home">
		по индивидуальным эскизам<br />
		из натуральной кожи<br />
		ручной работы</div>
		
		<div class="social">
			<div class="iconsocial">
				<a href=""><svg class="icon">
  <use xlink:href="/image/sprite.svg#icon-1"></use>
</svg></a>
			</div>
			<div class="iconsocial">
				<a href=""><svg class="icon">
  <use xlink:href="/image/sprite.svg#icon-2"></use>
</svg></a>
			</div>
			<div class="iconsocial">
				<a href=""><svg class="icon">
  <use xlink:href="/image/sprite.svg#icon-3"></use>
</svg></a>
			</div>
		
		</div>

</div>
</div>

</div>

